body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  background-image: url(imagesEtVideos/imagefond.png);
}

#language-selector {
  position: fixed; /* Reste fixe à l'écran */
  top: 10px; /* Distance depuis le haut de l'écran */
  right: 10px; /* Distance depuis la droite de l'écran */
  z-index: 1000; /* S'assure qu'il est au-dessus des autres éléments */
  padding: 5px; /* Ajoute un peu d'espace autour du texte */
  font-size: 14px; /* Taille de texte pour une bonne lisibilité */
  background-color: white; /* Fond pour le rendre lisible */
  border: 1px solid #ccc; /* Bordure légère pour la distinction */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour un effet visuel agréable */
}






  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.menu {    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}
  
.menu-item {
  background-color: #E66840; /* Orange */
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-item img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.menu-item p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.content {
  height: 100vh;
  width: auto;
  
}
.back-button {
  width: 50px;
  height: 50px;
}
.back-button img {
  width: 40px;
  height: auto;
}



section {
  background-color: white;
}





























